doctype html
html
  head
    title HADES System
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    //if lte IE 8
      script(src='css/ie/html5shiv.js')
    script(src='js/jquery.min.js')
    script(src='js/jquery.dropotron.min.js')
    script(src='js/skel.min.js')
    script(src='js/skel-layers.min.js')
    script(src='js/init.js')
    noscript
      link(rel='stylesheet', href='css/skel.css')
      link(rel='stylesheet', href='css/style.css')
    //if lte IE 8
      link(rel='stylesheet', href='css/ie/v8.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
  body.no-sidebar
    // Header
    #header
      .container
        Logo
        h1
          a(href='/')#logo HADES
        // Nav
        nav#nav
          ul
            li
              a(href='/') Home
            li
              a(href='/aboutsystem') About HADES
            li
              a(href='/references') References
    // Main
    #main.wrapper.style1
      .container
        section
          header.major
            h2 About HADES
            p 
            | HADES(HAshtag recommendation system via DEep learning for images in Social networks) is a recommendation system that users can upload images and receive 10 most relevant hashtags based on the content of the image. In HADES, we develop several methods to effectively combine image classifiers and NLP models. Besides, HADES can crawl and learn latest tags online, collect user feedback, and automatically update its image classifiers as well as hashtag embedding. The tutorials and API documents can be found on our 
            a(href='http://github.com/kuanting/image_hashtag') GitHub page
            | .
            br
            br
            br
            span.byline Architecture
            p The architecture of HADES is shown below. Our system is mainly built by Node.js, MongoDB and Python. There are four major components: image embedding, hashtag embedding, image-hashtag network, and self-learning module. 
            a.image.feature
              img(src='images/architecture.png', alt='')
            span.byline Recommendation Results
            a.image.feature
              img(src='images/results.png', alt='')
            span.byline Applications
            p Recently, hashtags are important advertising tools especially for images. Using right hashtags can gain a lot of exposure and effectively promote one’s own brand. The following figure shows several keys to a successful promotion which HAEDS can help, according to the website, How to Grow Your Audience With Hashtags for Instagram. 
            a.image.feature
              img(src='images/application.png', alt='')

    // Footer
    #footer
      // Copyright
      .copyright
        span 
        a(href='http://arbor.ee.ntu.edu.tw/') Netwok Database Lab
        | , National Taiwan University
        br
        span Kuan-Ting Lai, Yu-Chi Chen, Chih-En Huang, Jyun-Jhu Syu,
        a(href='http://arbor.ee.ntu.edu.tw/~mschen/') Ming-Syan Chen
