doctype html
html
  head
    title HADES References
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    //if lte IE 8
      script(src='css/ie/html5shiv.js')
    script(src='js/jquery.min.js')
    script(src='js/jquery.dropotron.min.js')
    script(src='js/skel.min.js')
    script(src='js/skel-layers.min.js')
    script(src='js/init.js')
    noscript
      link(rel='stylesheet', href='css/skel.css')
      link(rel='stylesheet', href='css/style.css')
    //if lte IE 8
      link(rel='stylesheet', href='css/ie/v8.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
  body.no-sidebar
    // Header
    #header
      .container
        Logo
        h1
          a(href='/')#logo HADES
        // Nav
        nav#nav
          ul
            li
              a(href='/') Home
            li
              a(href='/aboutsystem') About HADES
            li
              a(href='/references') References
    // Main
    #main.wrapper.style1
      .container
        section
          header.major
            h2 References
            // span.byline Please check the tags considered to be relative to the given image. 
            // br
            // span.byline Your feedback is helpful for us. Thanks.
            ul
              li
              | [1] Martín Abadi, Paul Barham, Jianmin Chen, Zhifeng Chen, Andy Davis, Jeffrey Dean, Matthieu Devin, Sanjay Ghemawat, Geoffrey Irving, Michael Isard, et al. 2016. Tensorflow: A system for large-scale machine learning. In 12th {USENIX} Symposium on Operating Systems Design and Implementation ({OSDI} 16). 265–283.
              li
              | [2] Kyle Banker. 2011. MongoDB in action. Manning Publications Co.
              li
              | [3] François Chollet et al. 2017. Keras.
              li
              | [4] Ryan Dahl. 2012. Node. js: evented I/O for v8 javascript. 
              a(href='https://www.nodejs.org') URL
              |  (2012).
              li
              | [5] Emily Denton, Jason Weston, Manohar Paluri, Lubomir Bourdev, and Rob Fergus. 2015. User conditional hashtag prediction for images. In Proceedings of the 21th ACM SIGKDD international conference on knowledge discovery and data mining. ACM, 1731–1740.
              li
              | [6] Miles Efron. 2010. Hashtag retrieval in a microblogging environment. In Proceedings of the 33rd international ACM SIGIR conference on Research and development in information retrieval. ACM, 787–788.
              li
              | [7] Andrea Frome, Greg S Corrado, Jon Shlens, Samy Bengio, Jeff Dean, Tomas Mikolov, et al. 2013. Devise: A deep visual-semantic embedding model. In Advances in neural information processing systems. 2121–2129.
              li
              | [8] Yuyun Gong and Qi Zhang. 2016. Hashtag Recommendation Using AttentionBased Convolutional Neural Network. In IJCAI. 2782–2788.
              li
              | [9] Hashtagify. 2011. 
              a(href='http://hashtagify.me/') Hashtagify
              | .
              li
              [10] Kaiming He, Xiangyu Zhang, Shaoqing Ren, and Jian Sun. 2016. Deep residual learning for image recognition. In Proceedings of the IEEE conference on computer vision and pattern recognition. 770–778.
              li
              | [11] David Kao, Kuan-Ting Lai, and Ming-Syan Chen. 2019. An Efficient and ResourceAware Hashtag Recommendation Using Deep Neural Networks. In Pacific-Asia Conference on Knowledge Discovery and Data Mining. Springer, 150–162.
              li
              | [12] Keyhole. 2019. 
              a(href='http://keyhole.co') Keyhole
              | .
              li
              | [13] Jia Li, Hua Xu, Xingwei He, Junhui Deng, and Xiaomin Sun. 2016. Tweet modeling with LSTM recurrent neural networks for hashtag recommendation. In 2016 International Joint Conference on Neural Networks (IJCNN). IEEE, 1570–1577.
              li
              | [14] Zongyang Ma, Aixin Sun, and Gao Cong. 2012. Will this# hashtag be popular tomorrow?. In Proceedings of the 35th international ACM SIGIR conference on Research and development in information retrieval. ACM, 1173–1174.
              li
              | [15] Tomas Mikolov, Kai Chen, Greg Corrado, and Jeffrey Dean. 2013. Efficient estimation of word representations in vector space. arXiv preprint arXiv:1301.3781 (2013).
              li
              | [16] Mohammad Norouzi, Tomas Mikolov, Samy Bengio, Yoram Singer, Jonathon Shlens, Andrea Frome, Greg S Corrado, and Jeffrey Dean. 2013. Zero-shot learning by convex combination of semantic embeddings. arXiv preprint arXiv:1312.5650 (2013).
              li
              | [17] Minseok Park, Hanxiang Li, and Junmo Kim. 2016. HARRISON: A benchmark on hashtag recommendation for real-world images in social networks. arXiv preprint arXiv:1605.05054 (2016).
              li
              | [18] Joseph Redmon, Santosh Divvala, Ross Girshick, and Ali Farhadi. 2016. You only look once: Unified, real-time object detection. In Proceedings of the IEEE conference on computer vision and pattern recognition. 779–788.
              li
              | [19] Simon Seo. 2018. 
              a(href='https://github.com/simonseo/instagram-hashtag-crawler') Image Hashtag Crawler
              | .
              li
              | [20] Karen Simonyan and Andrew Zisserman. 2014. Very deep convolutional networks for large-scale image recognition. arXiv preprint arXiv:1409.1556 (2014).
              li
              | [21] Sprout Social. 2018. 
              a(href='https://sproutsocial.com/insights/hashtags-for-instagram/') How to Grow Your Audience With Hashtags for Instagram
              | .
              li
              | [22] Twitter. 2019. 
              a(href='https://twitter.com/search-home') Twitter Search
              | .
              li
              | [23] Yongqin Xian, Bernt Schiele, and Zeynep Akata. 2017. Zero-shot learning-the good, the bad and the ugly. In Proceedings of the IEEE Conference on Computer Vision and Pattern Recognition. 4582–4591.
              li
              | [24] Qi Zhang, Jiawen Wang, Haoran Huang, Xuanjing Huang, and Yeyun Gong. 2017. Hashtag Recommendation for Multimodal Microblog Using Co-Attention Network. In IJCAI. 3420–3426.
              li
              | [25] Suwei Zhang, Yuan Yao, Feng Xu, Hanghang Tong, Xiaohui Yan, and Jian Lu. 2019. Hashtag Recommendation for Photo Sharing Services. (2019).
              li
              | [26] Bolei Zhou, Agata Lapedriza, Aditya Khosla, Aude Oliva, and Antonio Torralba. 2018. Places: A 10 million image database for scene recognition. IEEE transactions on pattern analysis and machine intelligence 40, 6 (2018), 1452–1464.
              li 
              | [27] Design of  website is referenced from 
              a(href='http://templated.co') TEMPLATED
              | .


    
    #footer
      // Copyright
      .copyright
        span 
        a(href='http://arbor.ee.ntu.edu.tw/') Netwok Database Lab
        | , National Taiwan University
        br
        span Kuan-Ting Lai, Yu-Chi Chen, Chih-En Huang, Jyun-Jhu Syu,
        a(href='http://arbor.ee.ntu.edu.tw/~mschen/') Ming-Syan Chen
